<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oauth2="http://www.springframework.org/schema/security/oauth2"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
                        http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2-1.0.xsd 
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd ">

    <!-- security config -->
    <!--<debug/>-->
    <!-- responsible for creating a FilterChainProxy -->
    <http pattern="/public/**" security="none"/>
    <http pattern="/chat/login" security="none"/>
    <http pattern="/socket/*" security="none"/>
    <http pattern="/example/*" security="none" />
    <http>
        <!-- security filter chain to be applied
        <intercept-url pattern="/chat/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/**" access="hasRole('USER')" />-->

        <form-login login-page="/" default-target-url="/chat/dologin"
                    always-use-default-target="true"/>
        <logout />
        <csrf disabled="true" />
    </http>

    <authentication-manager>
        <!-- define different authentication sources -->
        <authentication-provider>
            <user-service>
                <user name="zhangzhaoyu@anicloud.com" password="anicloud"
                      authorities="ROLE_USER" />
                <user name="huangbin@anicloud.com" password="anicloud"
                      authorities="ROLE_USER" />
                <user name="ching-zhou@anicloud.com" password="anicloud"
                      authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="myUserDetailsService"
                class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <beans:property name="dataSource" ref="dataSource"/>
    </beans:bean>

    <beans:bean name="bcryptEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

</beans:beans>